header{
    height: 150px;
    background-color:orange;
}
nav a{
    text-align: center;
}
.collapse .list-group-item:hover{
    background-color: #a3a3a3;
}
#MyPhoto{
    height: 240px;
    width: 240px;
    border-radius: 18px;
}