@font-face {
    font-family: "Comme";
    src: url("/Fonts/Comme/Comme-VariableFont_wght.ttf") format("truetype");
}
*{
    font-family: Comme, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-color:orange;
}
nav a{
    text-align: center;
}
.collapse .list-group-item:hover{
    background-color: #a3a3a3;
}
#MyPhoto{
    height: 240px;
    width: 240px;
    border-radius: 18px;
}