@font-face {
    font-family: "Comme";
    src: url("../Fonts/Comme/Comme-VariableFont_wght.ttf") format("truetype");
}
:root{
    --footer-bg-color:#4d4d4d;
}
*{
    font-family: Comme, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-color:orange;
}
nav a{
    text-align: center;
}
.collapse .list-group-item:hover{
    background-color: #a3a3a3;
}
footer, footer *{
    background-color: var(--footer-bg-color);
    color: white;
}
#MyPhoto{
    height: 240px;
    width: 240px;
    border-radius: 18px;
}
#ListIdiomas img{
    height: 90px;
    width: 140px;
    border-radius: 18px;
}
#ReferenciasWeb img{
    height: 50px;
    width: 50px;
}